<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GET">
  <test name="GET_Group">
  	<classes>
      <class name="test.Register">
      <methods>
      	<include name="signup"/>
      </methods>
      </class>
    </classes>
  </test>
</suite>